---
layout: default
---
<main class="main-content">
    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <time class="post-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{post.date | date: "%B %-d, %Y" }}</time>
            <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="Permanent Link to {{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h2>
            
            {% if post.banner_image %}
            <a href="{{site.baseurl}}{{post.url}}" class="post-thumbnail">
                <figure class="kg-card kg-image-card kg-width-wide">
                    <img src="{{ post.banner_image | prepend: site.baseurl }}" class="kg-image" alt="{% if post.banner_image_alt %}{{ post.banner_image_alt }}{% else %}{{ post.title }} {% endif %}">
                </figure>
            </a>
            {% endif %}
        </header><!-- .entry-header -->
        <div class="post-content">
            {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
            <p class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more-link" title="read more">Continue reading &rarr;</a></p>
            {% else %}
            {{ post.content }}
            {% endif %}
        </div><!-- .entry-content -->
        <div class="post-meta">
            {% if post.categories.size > 0 %}<span class="post-tags">
            posted in {% for category in post.categories %}<a href="{{ site.baseurl }}/category/{{ category | cgi_escape }}" title="Pages in {{ category }}"
                rel="category">{{ category }}</a>{% unless forloop.last %} {% endunless %}{%
            endfor %}
            </span>
            {% endif %}
        </div><!-- .post-meta -->
    </article><!-- .post -->
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <nav class="pagination" role="navigation">
        <h2 class="screen-reader-text">Posts navigation</h2>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="newer-posts">&larr; Newer Posts</a>
        {% endif %}
        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="older-posts">Older Posts &rarr;</a>
        {% endif %}
    </nav><!-- .pagination -->
    {% endif %}
</main><!-- .site-main -->
